@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Silkscreen&display=swap");

body {

    margin: 0;
    padding: 0;


}



.main-bg {
    background-color: #001C30;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #DAFFFB;
    font-family: 'Kanit', sans-serif;
}

@media (max-width: 768px) {
    .chart {
        width: 100%;
        height: auto;
    }
}